<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Users</h2>

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- userId Column-->
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let User"> {{User.id}} </td>
          </ng-container>

          <!-- name Column-->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let User"> {{User.name}} </td>
          </ng-container>

          <!-- userName Column -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
            <td mat-cell *matCellDef="let User"> {{User.email}} </td>
          </ng-container>

          <!-- password Column -->
          <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
            <td mat-cell *matCellDef="let User"> {{User.password}} </td>
          </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let User"> {{User.email}} </td>
            </ng-container>


            <!-- role Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
              <td mat-cell *matCellDef="let User"> {{User.role}} </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
          </mat-paginator>

      </mat-card-content>
    </mat-card>

  </div>
</div>
